button{
    padding: 0.6rem;
    border: 0.5rem solid #663399; 
    border-radius: 0.3rem;
    font-size: 1.2rem;
    background: rebeccapurple;
    color: white;
    cursor: pointer
  }

  button:hover{
    border-color: #7040aa;
    background: #7040aa;
  }
  
  button:disabled,
  button[disabled]{
    border-color: #cccccc;
    background-color: #cccccc;
    color: #555555;
    cursor: not-allowed
  }

 .lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 15px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: -12px;
    height: 44px;
    opacity: 0.8
  }
  50%, 100% {
    top: 4px;
    height: 12px;
    opacity: 0.5
  }
}